<div class="banner-container">
  <div class="banner-content">
  <br><h1 id="specific">O diable</h1>
  <h2>Transport d'objets volumineux</h2>
  </div>
<%= link_to "Déposer une annonce", '/', class: 'btn-banner' %>
</div>
