<div class="btn-valider">
  <p>Valider</p>
</div>

<div class="btn-refuser">
  <p>Annuler</p>
</div>

<%= link_to "Valider", '/', class: 'btn-valider' %>
<%= link_to 'Annuler', '/', class: 'btn-refuser' %>
