<div class="recapitulatif">
  <div class="text">
  <h1>Comment ça marche ?</h1>
  </div>

  <div class="content-explication">
    <div class="card-explication">
      <%= link_to image_tag("edit.png")  %>
      <h5>  Déposer votre annonce </h5>
      <p>Renseignez les caractéristiques de votre meuble</p>
    </div>

    <div class="card-explication">
      <%= link_to image_tag("proposition.png")  %>
      <h5> Recevez des propositions</h5>
      <p>Des propositions vont vous parvenir</p>
    </div>

    <div class="card-explication">
      <%= link_to image_tag("validate.png")  %>
      <h5>  Validez votre réservation</h5>
      <p>Choisissez parmi plusieurs propositions celle qui vous convient le mieux</p>
    </div>
  </div>
</div>
