// Define variables for your color scheme

// For example:
$red: #92140C;

$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$blue: #00AFF5;
$red-dark: #C1292E;
$red-light: #FF0F0F;
$blue-dark: #034078;
$white: #FDFFFC;

$red: #FF3333;
$gray-1: #A3A5A7;

$link-color: #000000;

