// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Merriweather+Sans:300,400,700');
// Define fonts for body and headers
$body-font: 'Merriweather Sans', sans-serif;
$headers-font: 'Ubuntu', sans-serif;
$specific-title: 'Pacifico', cursive;
$very-specific: 'Josefin Sans', sans-serif;
$home-recap: 'PT Sans Narrow', sans-serif;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

p {
  font-size: 15px;
}
