.dashboard {
  display: flex;
}
.container-card-dash {
  overflow: scroll;
  height: 100vh;
  padding: 20px 15px;
}
.dash-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  background-color: $blue;
  color: white;
}

.dash-card {
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 26px;
  box-shadow: 2px 2px 2px #e1e1e1;
  .dash-card-photo {
    width: 350px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
   background-position: center;
   background-size: cover;
  }
  .mes-produits {
    background: #2b355566;
  }

.dash-description-desc {
  margin-left: 20px;
  font-size: 20px;
}

  .dash-card-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    // border: 1px solid #dedede;
    flex: 1 0 auto;
    margin: 0 20px 0 0;

    p {
      font-size: 16px;
    }

    .dash-description-title {
      text-align: center;
      width-min: 100px;
      padding: 0;
    }
    .dash-desc-address {
      margin-bottom: 36px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      border-bottom: 1px solid rgba(200,200,200, 0.3);
      .dash-description-desc {
        padding: 20px;
        width: 400px;
        p {
          margin: 0;
        }
      }
      .dash-description-aaad {
        display:flex;
        flex-direction: column;
        .dash-description-ad {
          display:flex;
          padding: 20px;
          align-items: center;
          p {
            margin: 0;
            padding-left: 10px;
            // font-weight: bold;
          }
          i {
            font-size: 20px;
            color: rgb(0,200,0)
          }
        }
         .dash-description-aa{
          display:flex;
          padding: 20px;
          align-items: center;
          p {
            margin: 0;
            padding-left: 10px;
            // font-weight: bold;
          }
          i {
            font-size: 20px;
            color: rgb(0, 200,  0);
          }
        }
      }
    }
  }

  .dash-card-btn {
    border: 1px solid #dedede;
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
  }
}
.dash-offer-details {
  background-color: #ffffff;
  height: 100px;
  margin: 7px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
  .dash-transporter-offer {
    background: rgba(250,250,250, 0.8) !important;
    margin: 10px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 4px 29px;

    // background-color: rgba(220,220,220, 1);
    display:flex;
    justify: space-around;
    .dash-offer-user {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      position: absolute;
      top: -13px;
      left: -20px;
    }
    .dash-offer-desc {

    }
    .dash-offer-link {
      display:flex;
      flex-position: column;
      justify-content: space-between;
      .link-dash-edit {
        border: 2px solid green;
        border-radius: 25px;
        background-color: rgba(17, 198, 45, 1);
        color: white;
        text-decoration:none;
      }
      .link-dash-supprimer {
        border: 2px solid $red;
        border-radius: 25px;
        background-color: rgba(198,17, 45,1);
        color: white;
        text-decoration:none;
      }
    }
  }
}
.button-dash-all {

  display:flex;
  justify-content: space-between;
  align-items: center;
  .button-dash-edit {
    // background: $blue;
    border: 1px solid $blue;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    a {
      font-size: 16px;
    }
    p {
      a {
        color: $blue;
      }
      margin: 0;
    }
    .btn-dash-edit {
      color: white;
      // font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
    }
    .my-btn-delete {
      p {
        margin: 0 !important;

      }
    }
  }

  // .button-dash-suppr {
  //   background: #ab2727;
  //   padding: 1px 27px;
  //   border-radius: 3px;
  // }
}
.my-btn-delete>p {
  margin: 0;
  // font-weight: bold;
}
.my-btn-delete>p>a {
  border-radius: 3px;
  // border: 1px solid $blue !important;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 16px;
  color: $blue;
}
.icons {
  img {
    height: 25px;
  }
}
.icons-edit {
  img {
    height:25px;
  }
}
