.dashboard {
  display: flex;
  justify-content: space-around;
}
.content-dashboard-show {
  border: 1px solid black;
   .offer {
    height: 150px;
    width: 150px;
    border: 1px solid black
  }
}
.wrap-dash {
  background-image: image-url("dashscreen.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  // height:

}
.dash-cards {
  margin-bottom: 10px;
}
.pad {
  padding: 10px;
  background: rgba(250,250,250, 0.8) !important;
}
.dash-card {
  margin-top: 15px;
  background-color: #ebebeb;
  box-shadow: 1px 1px 2px 1px rgba(115, 115, 115, 0.29);
  border-radius: 3px;
  border: 1px solid #04030336;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .prod-description {
    flex: 1 0 auto;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 75px 75px 75px;
    grid-template-columns: 1fr 1fr;
    .dash-prod-title {
      background-color: white;
      margin: 5px;
      padding: 5px;
      box-shadow: 1px 1px 1px rgb(200,200,200);
      grid-row: 1 / span 1 ;
      grid-column: 1 / span 2;
    }
    .dash-prod-desc {
      background-color: white;
      padding: 5px;
      margin: 5px;
      box-shadow: 1px 1px 1px rgb(200,200,200);
      grid-row: 3 / span 1 ;
      grid-column: 1 / span 2;
    }
    .dash-prod-aa {
      background-color: white;
      padding: 5px;
      margin: 5px;
      box-shadow: 1px 1px 1px rgb(200,200,200);
      grid-row: 2 / span 1 ;
      grid-column: 2 / span 1;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .dash-prod-date {
      background-color: white;
      grid-row: 2 / span 1 ;
      margin: 5px;
      box-shadow: 1px 1px 1px rgb(200,200,200);
      grid-column: 1 / span 1;
    }
  }
  .prod-photo {
    height: auto;
    width: auto;
    background-size: cover;
    background-position: left;
    margin-left: 10px;
    box-shadow: 1px 1px 1px rgb(200,200,200);

  }
  .dash-prod-link {
    margin-right: 10px;
    padding: 10px 10px;
    // display: flex;
    .link-dash-supprimer {
      border: 2px solid $red;
      border-radius: 25px;
      padding: 13px;
      background-color: rgba(198,17, 45,1);
      color: white;
      text-decoration:none;
    }
    .link-dash-offer {
      border: 2px solid blue;
      border-radius: 25px;
      padding: 13px;
      background-color: rgba(200, 200, 200, 1);
      color: white;
      text-decoration:none;

    }
    .link-dash-edit {
      border: 2px solid green;
      border-radius: 25px;
      padding: 13px;
      background-color: rgba(17, 198, 45, 1);
      color: white;
      text-decoration:none;
    }
  }
}
.dash-offer-details {
  background-color: #ebebeb;
  height: 100px;
  border: 1px solid #04030336;

  // border: 1px solid black;
  margin: 7px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
    box-shadow: 1px 1px 2px 1px rgba(115, 115, 115, 0.29);
}
.dash-transporter-offer {
  background: rgba(250,250,250, 0.8) !important;
  margin: 10px;
      box-shadow: 1px 1px 2px 1px rgba(115, 115, 115, 0.29);

  // background-color: rgba(220,220,220, 1);
  display:flex;
  justify: space-around;
  .dash-offer-user {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .dash-offer-desc {

  }
  .dash-offer-link {
    display:flex;
    flex-position: column;
    justify-content: space-between;
    .link-dash-edit {
      border: 2px solid green;
      border-radius: 25px;
      background-color: rgba(17, 198, 45, 1);
      color: white;
      text-decoration:none;
    }
    .link-dash-supprimer {
      border: 2px solid $red;
      border-radius: 25px;
      background-color: rgba(198,17, 45,1);
      color: white;
      text-decoration:none;
    }
  }
}
.custom-btn {
  width: 100px !important;
}
.custom-nav li {
  color: black !important;
}

.nav-tabs > li > a {
    color: black;
    font-weight: bold;
  }

