.dashboard {
  display: flex;
  justify-content: space-around;
}
.content-dashboard-show {
  border: 1px solid black;
   .offer {
    height: 150px;
    width: 150px;
    border: 1px solid black
  }
}
.dash-card {
  height: 250px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around
}
