.banner-container {
  height: 85vh;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));z
  background-image: image-url("banner-road.jpg" );
  background-size: cover;
  background-position: center;
  margin: 15px;
  font-family: $headers-font;
}

#specific-title {
  font-size: 20px;
}
#specific {
  font-family: $specific-title;
  color: white;
  font-size: 65px;
  margin-top: 155px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.banner-content {
  color: f7f4f4;
      margin-right: 220px;

  h2 {
    margin-top: 32px;
    padding-bottom: 180px;
    font-size: 20px;
  }
}


  .btn-banner {
    font-size: 17px;
    background-color: $blue;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 25px;
  &:hover {
    text-decoration:none;
    color: white;
    opacity: 0.8;
  }
}


