.main-container-index-product {
  background-color: #e9ecef40;
}

.card-container-index {
  background-color: white;
  padding: 10px 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin: 30px 30px;
  border-radius: 3px;
  height: 400px;
}

.img-container-index img {
  width: 100%;
  box-shadow: 2px 1px 1px rgba(0,0,0,0.2);
  }

.info-card-index {
  display:flex;
  justify-content: space-between;
}

.distance-card-index {
  position: relative;

}
.product-offer-card {
  position: absolute;
}
