.card-content {
  display: flex;
  flex-direction: column;
  width: 310px;
  border: 2px solid #E8E8E8;
  border-radius: 2px;
}

.card-image {
  background-image: url('meuble4.jpg');
  border-radius: 2px;
  height: 304px;
  width: 100%;
  align-items: center;
  background-size: 100% 100%;
}

.description {
 font-family: courrier new;
 text-align: center;
 color: #4F4F4F;
 background-color: #F9F9F9;
 width: 100%;
 height: 116px;
 border-bottom: 1px solid #E8E8E8;
 display: flex;
 align-items: center;
}

p {
  color: #606060;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
}

.offres {
  text-align: center;
  margin-right: 41px;
  padding-right: 12px;
  padding-left: 12px;
  letter-spacing: 6px;
}

.poste {
  text-align: center;
  padding-right: 12px;
  letter-spacing: 6px;
  padding-left: 12px;
}

.button {
  background-color: white;
  border: 2px solid #D4334D !important;
  border-radius: 2px;
  width: 100%;
  right:    0;
  bottom:   0;
  color: #757575 !important;
  font-weight: lighter;
  padding-bottom: 0px;
  transition: 0.2s !important;
  font-size: 13px;
  text-align: center;

  &:hover {
    color: #161616 !important;
    transition-duration: 0.2s !important;
  }
}
