.container-produit-home {
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;
  margin: 10px 10px;
  align-items: center;
}

.descriptif-produit-home {
  background: white;
  position: relative;
  height: 250px;
  border-radius: 3px;
  box-shadow: 0px 6px 10px #ccc;
  width: 21%;
  h1 {
    padding-top: 81px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 25px;
       color: rgba(0,0,0,0.5) !important;
  }
  p {
    font-size: 15px;
    color: gray;
    margin: 10px;
  }
}

.picture-home-large {
  img {
       position: absolute;
    height: 158px;
    width: 66%;
    border-radius: 50%;
    box-shadow: 1px 2px 1px grey;
    top: -92px;
    left: 18%;
  }
}
.picture-home-medium {
  img {
        position: absolute;
    height: 158px;
    width: 66%;
    border-radius: 50%;
    box-shadow: 1px 2px 1px grey;
    top: -92px;
    left: 18%;
  }
}

.picture-home-small {
  img {
     position: absolute;
    height: 158px;
    width: 66%;
    border-radius: 50%;
    box-shadow: 1px 2px 1px grey;
    top: -92px;
    left: 18%;
  }
}
