.footer-container {
  height: 75px;
  padding: 20px;
  background-color: #dddddd26;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-team {
  display: flex;
  align-items: center;
}
.footer-links h1 {
  text-align: center;
  color: $gray-1;
  font-size: 12px;
}

.avatar-team {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}
.logo-footer img {
  height: 50px;
  width: 50px;
  margin-left: 36px
}

