.form-log-up {
  background-color: #1b1a1aeb;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
}

.container-sign-up {
  min-height: 80%;
  background-image: image-url("sign-up-wall.jpg");
  background-position: center;
  background-size: cover;
}
