.navbar-container {
  height: 70px;
  background-color: #dddddd00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}

.btn-container {
  margin-left: 116px;
  a {
    color: #777777;
    font-size: 15px;
  }
  a:hover {
    color: #555555;
    text-decoration:none;
  }
}

.liens {
  // width: 500px;
  font-size:16px;
  font-family: $headers-font;
  a {
    color: $gray-1;
    text-decoration:none;
    font-size: 15px;
    padding-left: 32px;
  &:hover {
    color: #555555;
    text-decoration:none;
  }
  }
}


.logo {
  display: flex;
  align-items: center;
  a {
  font-family: $specific-title;
  color: $blue !important;
  font-size: 30px;
  margin-left: 30px;
  max-height: 61px;
  &:hover {
    text-decoration: none !important;
  }
}
}

.btn-signin {
  font-family: "Ubuntu", sans-serif;
  background: #00AFF5;
  border-radius: 8px;
    padding: 13px;
    color: white !important;
  &:hover {
    background-color: $blue;
    color: white;
    text-decoration:none;
    opacity: 0.7;
  }
}

.btn-signup {
  font-family: $headers-font;
  padding-left: 32px;
  padding: 13px;
  &:hover {
    border: 0.2rem solid;
    background-color: rgba(230,230,230,0.7);
    border-radius: 25px;
    color: #555555;
    text-decoration:none;
  }
}

.dashboard-btn {
  font-family: $headers-font;
  border: 2px solid $blue;
  border-radius: 25px;
  padding: 13px;
  color: #555555;
  margin-right: 30px;
  &:hover {
    background-color: $blue;
    color: white;
    text-decoration:none;
  }
}
.btn-logout {
  font-family: $headers-font;
  border: 2px solid $red;
  border-radius: 25px;
  padding: 13px;
  color: #555555;
  &:hover {
    background-color: $red;
    color: white;
    text-decoration:none;
  }
}
.mydashboard {
  display: flex;
  justify-content: space-between;
  // width: 200px;
}
