.recapitulatif {
 background-color: #FFFFFF;
 opacity: 0.8;
  height: 400px;
  text-align: center;
  margin: 15px;

  p {
    font-size: 10px;
    font-family: $body-font;
  }
  h5 {
    font-size: 20px;
    font-family: $home-recap;
    margin-left: 21px;
    color: rgba(0,0,0,0.5) !important;
  }
  h1 {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 40px;
    color: $blue;

  }
}

.content-explication {
  display: flex;
  justify-content: space-around;

}

.text-recapitulatif {
  padding-bottom: 50px;
  padding-top: 40px;
}

.card-explication {
  height: 200px;
  width: 200px;
  display: left;

  i {
    padding-bottom: 40px;
    width: 50px;
    font-size: 74px;
  h5 {
      font-size: 5px;
      text-align:left;
    }
  }
}
.text-comment {
  margin-bottom: 63px;
  padding-top: 20px;
}


