.recapitulatif {
  height: 400px;
  text-align: center;
  p {
    font-size: 10px;
  }
  h5 {
    font-size: 15px;
  }
}

.content-explication {
  display: flex;
  justify-content: space-around;
}

.text {
  padding-bottom: 50px;
  padding-top: 40px;
}

.card-explication {
  height: 200px;
  width: 200px;
  img {
    padding-bottom: 40px;
    width: 50px;
  h6 {
      font-size: 5px;
      text-align:left;
    }
  }
}

