.form-control {
  width: 100%;
  font-size: 96px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}

.form-style {
  margin: 28px;
  padding: 13px;
}

.button {
  top: 130px;
  right: 8px;
  background-color: #0e69d8;
  border: 2px solid #0e69d8 !important;
  border-radius: 2px;
  color: white !important;
  font-weight: lighter;
  transition: 0.2s !important;
  font-size: 13px;
  margin-left: -29px;
  // text-align: center;
  height: 38px;
  width: 120px;
  // align-items: center;
  font-size: 16px;

  &:hover {
    color: #161616 !important;
    transition-duration: 0.2s !important;
    background-color: white;

    &:hover > p {
      color: #D4334D;
    }
  }
}
