.btn-search {
  border-radius: 5px;
  border: red;
  color: red;
}

.form-control {
  width: 300%;
  font-size: 96px;
  font-weight: bold;
  letter-spacing: 2px;
}

.form-style {
  margin: 28px;
  margin-right: -208px;
  padding: 13px;
}

.button {
  background-color: $blue;
  border-radius: 4px;
  color: white !important;
  margin-left: -29px;
  height: 38px;
  width: 120px;
  font-size: 13px;
  &:hover {
    color: white !important;
    transition-duration: 0.2s !important;
    background-color: #008ff5;
  }
}
