.form-control {
  width: 100%;
  font-size: 96px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}

.form-style {
  margin: 28px;
  padding: 13px;
}

.button {
  top: 130px;
  right: 8px;
  border: 2px solid #0e69d8 !important;
  border-radius: 2px;
  background-color: $blue;
  color: white !important;
  margin-left: -29px;
  height: 38px;
  width: 120px;
  font-size: 13px;
  &:hover {
    color: white !important;
    transition-duration: 0.2s !important;
    background-color: #008ff5;
  }
}
