.container-transporter {
  height: 300px;
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-transporteur img {
  background-image: image-url("transporteur.jpg");
  background-size: cover;
  background-position: center;
  height: 264px;
  width: 445px;
}

.btn-transporter {
  padding: 15px;
  font-family: $headers-font;
}
.text-transporteur  {
  margin-bottom: 15px;
  h2 {
    font-family: $headers-font;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
  }
  p {
    margin-bottom: 30px;
    font-family: $body-font;
    font-weight: 300;
  }
}
