  <%= simple_form_for(@product) do |f| %>
  <%= f.input :title, placeholder: "Votre product" %>
  <br><%= f.input :description, placeholder: "Description de votre produit" %>

  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
<p>bonjour</p>
