<div class="main-container">
  <!-- <div class="search-container">
    <div class="row">
      <div class="col-xs-6">
      <%#= form_tag products_path, method: :get do %>
        <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: "Trouvez une annonce"%>
        <%#= submit_tag("Recherchez") %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%#= simple_form_for @product do |f| %>
         <%#= f.input :category, collection: Product::CATEGORIES, prompt: "Which category?" %>
          <%# end %>

      </div>
    </div>
  </div> -->
  <div class="cards-container-index">
    <div class="row">
      <% @products.each do |product| %>
        <% if product.status == "en_cours" %>
          <% if product.photo.present? %>
            <div class="col-xs-12 col-sm-6 col-md-4" >
              <%= render partial: "components/card", locals: {product: product} %>
            </div>
          <% end %>
        <% else %>
        <% end %>
        <% end %>
    </div>
  </div>
</div>




