
<div class="wrapper">
  <div class="contain">
    <div class="form-style">
  <div class="row">
    <div class="col-xs-9">
    <%= form_tag(products_path, method: :get) do %>
      <%= text_field_tag :query, nil, placeholder: "Trouve une annonce par ville", class: "form-control" %>
      </div>
      <div class="col-xs-3">
        <%= submit_tag 'Recherche', class: "button"%>
      </div>
    <% end %>
  </div>
</div>

    <div class="row">
      <% @products.each do |product| %>
        <% if product.status == "en_cours" %>
          <% if product.photo.present? %>
            <div class="col-xs-3" >
              <%= render partial: "components/card", locals: {product: product} %>
            </div>
          <% end %>
        <% else %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



