

      <% @products.each do |product| %>

          <%= product.title %>
          <%= product.description %>
          <%= product.status %>
          <%= link_to "Show", product_path(product) %>

      <% end %>
<div class="main-container">
  <div class="row">
    <div class="col-xs-4">
      <div class="card-test"></div>
    </div>
      <div class="col-xs-4">
        <div class="card-test"></div>
      </div>
        <div class="col-xs-4">
          <div class="card-test"></div>
        </div>
          <div class="col-xs-4">
            <div class="card-test"></div>
          </div>
</div>

          <div id="map">

          </div>
</div>







