
<div class="wrapper">
  <div class="contain">
    <%= render "components/search" %>
    <div class="row">
      <% @products.each do |product| %>
        <% if product.photo.present? %>
          <div class="col-xs-3" >
            <%= render partial: "components/card", locals: {product: product} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



