<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <%= @product.title %>
          <%= @product.description %>
          <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
    </div>
  </div>
</div>
